#background-image {
    margin-top: 0em;
    height: 50em;
    width: 100%;
    background: url("images/underwater.jpg") no-repeat center center;
    position: fixed;
}

#heading {
    color: teal;
    font-size: 300%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#background-image {
    background-size: cover;
}


#dive-in-btn {
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
    margin-bottom: 4vh;
    width: 35vw;
    height: 12vh;
    font-size: 2vw;
    padding: 0;
}

#question {
    color: dimgray;
    margin-top: 5vw;
    margin-bottom: 2vw;
    height: 30vh;
    font-size: 6vmin;
   
}

#heading {
    font-size: 7vw;
    margin-top: 2vh;
}

#submit-btn {
    width: 35vw;
    height: 10vh;
    padding: 0;
    margin-top: 2vh;
    margin-bottom: 5vh;
    background-color: teal;
    border-color: black;
}

.card {
    width: 60vw;
    margin: auto;
    margin-top: 8vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
}

.card:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8);
}

#answer{
    width: auto;
}

#true-btn, #false-btn{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
    height: 10vh;
    border-color: black;
    padding-top: 0;
    padding-bottom: 0;
   
}

#false-btn {
    background-color: #d4a853;
}

#true-btn {
    background-color: #3f88db;
}

#score {
    margin-top: 1.5vh;
    font-size: 130%;
    color: teal;
    font-weight: 500;
    
}

#resultsGeneralLabel, #resultsPhysicsLabel, #resultsPhysiologyLabel {
    margin-top: 1.5vh;
    font-weight: 350;
    margin-bottom: 0.8vh;
    
}

#progressBar {
    background-color: #5fc0f3;
    
}